doctype html
head
  title= bookToBeDeleted.title
  link(rel='stylesheet' href='/stylesheets/style.css')
h1 Edit "#{bookToBeDeleted.title}"
  h2= title
  p 
    | Are you sure you want to delete 
    em= bookToBeDeleted.title
    | ?
  form(action="/books/" + bookToBeDeleted.id + "/delete", method="post")
    a(href="/books/" + bookToBeDeleted.id) No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")