extends partials/layout.pug

block content
  h1 New Book
  if validationError
    h1 Validation error 
    if bookTitle === "" || bookAuthor === null
      p *please add a title
    if bookAuthor === "" || bookAuthor === null
      p *please add an author
    form(action="/books/new", method="post")
      - var title = bookTitle
      - var author = bookAuthor
      - var genre = bookGenre
      - var year = bookYear 
      include partials/form.pug 
  else
    form(action="/books/new", method="post")
      - var title = ''
      - var author = ''
      - var genre = ''
      - var year = ''
      include partials/form.pug 
      