extends partials/layout.pug

block content
  h1 Update Book
  if validationError
    h2 Validation error
    if bookTitle === "" || bookAuthor === null
      p *please add a title
    if bookAuthor === "" || bookAuthor === null
      p *please add an author
    include partials/form.pug 
  else
    h2 Edit "#{book.title}"
    include partials/form.pug  
